{% extends 'base.html' %}
{% block content %}
  <div class="col-md-9">
  <div class="alert alert-success alert-dismissible fade show" role="alert">
      <h4 class="alert-heading"><i class="ri-check-line"></i>Остался последний шаг</h4>
      <p>На вашу почту мы отправили письмо со ссылкой для подтверждения, перейдите по этой ссылке и завершите регистрацию.</p>
      <hr>
      <p class="mb-0">Ссылка будет активна в течении 24 часов с момента отправки.</p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>

{% endblock %}