{% extends 'base.html' %}
{% block content %}
<main id="main" class="main">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Ваш почта успешно подтверждена.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="card-body">
        <h5 class="card-title">Установите пароль</h5>
        <form method="post">
            <div class="row mb-3">
                <label for="inputPassword" class="col-sm-2 col-form-label">Введите пароль</label>
                <div class="col-sm-10">
                  <input type="password1" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword" class="col-sm-2 col-form-label">Повторите пароль</label>
                <div class="col-sm-10">
                  <input type="password2" class="form-control">
                </div>
            </div>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Установить пароль</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}